.cardGraph {
    height: 95%;
    width: auto;
    margin: 20px;
}

#canvas {
    height: auto;
    width: auto;
}

.matContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

table {
    border-collapse: collapse;
}

td, tr {
    padding: 8px;
}

tr td:first-child {
    font-weight: 500;
}

tr:nth-child(even){
    background-color: #BDEEA5;
}

@media screen and (max-width: 767px) {
    .matContainer {
        flex-direction: column;
    }
    .mat-card { 
       width: 90%;
    }
}